@model List<Execicio.Web.MVC.Models.Refeicao>
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<table class="table">
    <tr>
        <th>Nome da refeição</th>
        <th>Vegetariano</th>
        <th>Bebida</th>
      
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@(item.Vegetariano? "Sim" : "Não")</td>
            <td>@(item.Bebida)</td>
        </tr>
    }
</table>


