@helper Botao(string name)
{
    <input type="submit" value=@name class="btn btn-primary" />
}

@helper Mensagem(object mensagem)
{ 
    if(mensagem != null)
    {
            <div class="alert alert-success">
                @mensagem
            </div>
    }
}
